<template>
  <div>
    <button class="primary circular absolute-bottom-right" @click="$refs.layoutModal.open()">
      <i class="material_icons">add</i>
    </button>
    <q-modal
      ref="layoutModal"
    >
      <q-layout>
        <div slot="header" class="toolbar">
          <button @click="close">
            <i>keyboard_backspace</i>
          </button>
          <q-toolbar-title :padding="1">
            Add new item to sell
          </q-toolbar-title>
        </div>
        <div class="layout-view">
          <div class="layout-padding">
            <form @submit.prevent="save">
              <div class="floating-label">
                <input required class="full-width" @input="setProperty({property: 'name', value: $event.target.value})">
                <label>Title</label>
              </div>
              <div class="floating-label">
                <input type="number" required class="full-width" @input="setProperty({property: 'cost', value: $event.target.value})">
                <label>Cost</label>
              </div>
              <div class="floating-label">
                <textarea required class="full-width"></textarea>
                <label>Description</label>
              </div>
              <q-autocomplete v-model="category" @search="search" class="floating-label" @selected="setCategory">
                <input v-model="category" required class="full-width" />
                <label for="">Category</label>
              </q-autocomplete>
              <!-- <div class="file-upload">
                <label for="upload" class="file-upload__label"><i class="fa fa-upload"></i> Click here to upload photos</label>
                <input ref="upload" id="upload" class="file-upload__input" type="file" name="file-upload" @change="upload">
              </div> -->

              <button class="primary">Sell</button>
            </form>
          </div>
        </div>
      </q-layout>
    </q-modal>
  </div>
</template>
<script>
import {mapMutations} from 'vuex'
export default {
  name: 'new-item',
  data () {
    return {
      category: ''
    }
  },
  methods: {
    ...mapMutations({
      setProperty: 'items/setProperty'
    }),
    setCategory (item) {
      this.$store.commit('items/setProperty', {property: 'category', value: item.value})
    },
    close () {
      this.$refs.layoutModal.close()
    },
    save () {
      this.$store.commit('items/save')
      this.close()
    },
    upload (e) {
      console.log(e)
    },
    search (terms, done) {
      let cats = [
        {
          value: 'computer_full_set',
          label: 'Computer Full Set'
        },
        {
          value: 'computer_ram',
          label: 'RAM (Computer)'
        },
        {
          value: 'computer_processor',
          label: 'Processor'
        },
        {
          value: 'graphic_card',
          label: 'Graphic Card'
        }
      ]
      done(cats.filter(c => {
        return c.label.toLowerCase().indexOf(terms.toLowerCase()) !== -1
      }))
    }
  }
}
</script>
