<template>
  <q-layout>
    <div slot="header" class="toolbar">
      <q-toolbar-title :padding="0">
        Dawrtetakte
      </q-toolbar-title>
    </div>

    <router-view class="layout-padding"></router-view>

    <new-item></new-item>

  </q-layout>
</template>

<script>
  import NewItem from './Items/New'
  export default {
    name: 'layout',
    components: {
      NewItem
    }
  }
</script>
