<template>
  <div id="q-app">
    <router-view v-if="!busy"></router-view>
  </div>
</template>

<script>
import {Loading} from 'quasar'
import {mapGetters} from 'vuex'
export default {
  computed: {
    ...mapGetters({
      busy: 'auth/busy',
      user: 'auth/user'
    })
  },
  watch: {
    busy (b) {
      if (b) {
        Loading.show()
      } else {
        Loading.hide()
      }
    }
  },
  created () {
    console.log('created')
  }
}
</script>

<style></style>
