<template>
  <q-layout>
    <div slot="header" class="toolbar">
      <q-toolbar-title :padding="0">
        Login
      </q-toolbar-title>
    </div>
    <div class="layout-padding">
      <div class="card">
        <div class="card-content">
          <p>Login with your phone number. Enter your phone number and click the button. You will receive a confirmation code. </p>
          <div class="floating-label">
            <input required v-model="phone" class="full-width" >
            <label>Phone Number</label>
          </div>
          <button class="primary" @click="getCode">Get Code</button>
          <p>{{credential}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p>Once you've received a confirmation code, </p>
          <div class="floating-label" >
            <input required v-model="code" class="full-width" >
            <label>Code</label>
          </div>
          <button @click="login" class="primary">Login</button>
        </div>
      </div>
      <div id="sign-in-button" ></div>
      <p v-if="getCodeError">
        {{getCodeError}}
      </p>
      <p v-if="loginError">
        <p>login error-</p>
        <p>
        {{loginError}}
        </p>
      </p>
    </div>
  </q-layout>
</template>

<script>
  import {Platform} from 'quasar'
  import firebase from '../../fb'
  export default {
    name: 'login-form',
    data () {
      return {
        phone: '',
        code: '',
        confirmationResult: null,
        verified: false,
        verifier: null,
        next: null,
        getCodeError: null, // to be removed
        loginError: null, // to be removed
        credential: null
      }
    },
    computed: {
      user () {
        return this.$store.getters['auth/user']
      }
    },
    methods: {
      enableFields () {
        console.log('asdf')
        this.verified = true
      },
      getCode () {
        let self = this
        window.FirebasePlugin.getVerificationID('+918974005472', function (id) {
          self.credential = id
        }, function (error) {
          console.error('EERRROOOR')
          console.error(error)
          self.getCodeError = error
        })
        // let self = this
        // let phone = '+91' + this.phone
        // if (Platform.is.cordova) {
        //   window.FirebasePlugin.verifyPhoneNumber(phone, 100, function (credential) {
        //     console.log(credential)
        //     console.log(phone)
        //     self.credential = credential
        //   }, function (error) {
        //     console.log(error)
        //     self.getCodeError = error
        //   })
        // } else {
        //   firebase.auth().signInWithPhoneNumber(phone, this.verifier)
        //   .then(function (confirmationResult) {
        //     self.confirmationResult = confirmationResult
        //   }).catch(function (error) {
        //     console.log(error)
        //     self.getCodeError = error
        //   })
        // }
      },
      login () {
        let self = this

        if (Platform.is.cordova) {
          let credential = firebase.auth.PhoneAuthProvider.credential(self.credential, self.code)
          firebase.auth().signInWithCredential(credential)
          // let signInCredential = firebase.auth.PhoneAuthProvider.credential(self.credential.verificationId, self.code)
          // firebase.auth().signInWithCredential(signInCredential)
        } else {
          this.confirmationResult.confirm(this.code).then(function (result) {
            self.$router.push({name: self.next})
          }).catch(function (error) {
            console.log(error)
            self.loginError = error
          })
        }
      }
    },
    mounted () {
      this.verifier = new firebase.auth.RecaptchaVerifier('sign-in-button')
    },
    created () {
      // let self = this
      if (this.user) {
        this.$router.push({name: this.$route.params.redirectTo || 'home'})
      }
    }
  }
</script>
